button {
  text-transform: uppercase;
  outline: 0;
  background: #222222;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 5px;
}

.h2 {
  text-align: center;
}

.h4 {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-family:  Verdana, Geneva, Tahoma, sans-serif;
}

.h5 {
  text-align: center;
  color: white;
}

.form {
  position: relative;
  z-index: 1;
  background: #af0000;
  width: 200px;
  height: 400px;
  margin: 0 auto 100px;
  padding: 70px;
  border-radius: 80px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form-Layout {
  position: relative;
  z-index: 1;
  background: #af0000;
  width: 300px;
  height: 150px;
  margin: 0 auto 100px;
  padding: 70px;
  border-radius: 80px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form-Proyectos {
  position: relative;
  z-index: 1;
  background: #af0000;
  width: 700px;
  height: 200px;
  margin: 0 auto 100px;
  padding: 70px;
  border-radius: 80px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  outline: 0;
  background: #ffffff;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

body {
  background-color: #111111;
}